---
import Layout from "../layouts/Layout.astro";

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="contenedor">
      <Layout title="Chris Portfolio">
        
      </Layout>
    </div>
  </body>
</html>