---
import Layout from "../layouts/Layout.astro";
import TextoInicio from "../components/TextoInicio.astro";
import TodosProyectos from "../components/TodosProyectos.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="contenedor">
      <Layout title="Chris Portfolio">
        <TextoInicio />
        <TodosProyectos/>
      </Layout>
    </div>
  </body>
</html>
