---
import Contacts from "./Contacts.astro";
import TextoPresentacion from "./TextoPresentacion.astro";
---

<div
    id="AcercaDeMi"
    class="my-80 mb-72 mx-auto px-4 w-3/4 m-40 p-10 box-border border-8 lg:flex"
>
    <!-- Foto mia -->
    <div class="mb-0 mt-0 m-40 mx-auto size-1/2 lg:size-full lg:py-6 lg:mx-10">
        <img src="/images/chrisprofile(1).png" />
    </div>
    <!-- Texto presentación -->
    <TextoPresentacion />

    <!-- Contactos -->
    <div class="p-4">
        <div class="text-4xl font-extrabold">Contáctame</div>
        <Contacts />
    </div>
</div>
