---
import ButtonNav from "../components/ButtonNav.astro"
---
<nav class="  dark:bg-neutral-900">
    <div class="max-w-screen-md flex flex-wrap items-center justify-between mx-auto p-6">
        <ButtonNav href="/" text="Proyectos"/>
        <ButtonNav href="/" text="Acerca de mi"/>
        <ButtonNav href="/" text="Contacto"/>
    </div>

</nav>