---
import ButtonNav from "../components/ButtonNav.astro"
---
<nav class="fixed w-full z-20 top-0 start-0 backdrop-filter backdrop-blur-lg bg-opacity-30">
    <div class="max-w-screen-md flex flex-wrap items-center justify-between mx-auto p-6">
        <ButtonNav href="#proyectos" text="Proyectos"/>
        <ButtonNav href="#AcercaDeMi" text="Acerca de mí"/>
    </div>
</nav>