---
import ButtonNav from "../components/ButtonNav.astro"
---
<nav class="sticky top-0 z-10 backdrop-filter backdrop-blur-lg bg-opacity-30">
    <div class="max-w-screen-md flex flex-wrap items-center justify-between mx-auto p-6">
        <ButtonNav href="#proyectos" text="Proyectos"/>
        <ButtonNav href="/" text="Acerca de mí"/>
        <ButtonNav href="/" text="Contacto"/>
    </div>
</nav>