<div class="p-4">
    <div class="text-5xl font-extrabold">Christopher</div>
    <div class="text-5xl font-bold text-orange-600">Mendoza</div>
    <div class="text-3xl font-bold text-white">Desarrollador Web Junior</div>
    <p class="text-white text-xl">
        Actualmente estoy cursando la carrera de Ing. Informática en la
        Universidad Nacional de itapúa, inicie a programar hace 3 años de forma
        autodidacta, con python y luego con c#, actualmente me dedico al
        desarrollo web basadas en el Framework Astro.
    </p>
</div>

