---
import Proyectos from "./Proyectos.astro";
---

<div
    id="proyectos"
    
    class="z-0 max-w-screen-lg flex flex-wrap items-center justify-between mx-auto p-6 mb-96"
>
    <Proyectos
        link="https://github.com/geroxima/ctn-now"
        alt="Imagen del logo de la Aplicación"
        src="/public/images/ctnnowlogo.png"
        text="CTN-NOW"
        descrip="Aplicación de apoyo para Estudiantes del Colegio Técnico Nacional."
        webLink="https://github.com/geroxima/ctn-now"
    />
    <Proyectos
        link="https://jakare.itch.io/kururu"
        alt="Imagen de la pagina web del Juego Kururu"
        src="/public/images/kururu.png"
        text="KURURU"
        descrip="Juego desarrollado para la JAM 'Tu Juego a Juicio Jam'"
        webLink="https://jakare.itch.io/kururu"
    />
    <Proyectos
        link="https://github.com/MrChrisFabian/MasRicos"
        alt="Imagen de la pagina web Mas Ricos"
        src="/public/images/+r.png"
        text="Más Ricos"
        descrip="WebPage para tienda de alimentos"
        webLink="https://masricos.netlify.app/"
    />
    <Proyectos
        link="https://github.com/MrChrisFabian/FinalProject_ppy"
        alt="Imagen de la webapp Rachas!"
        src="/public/images/rachas!.png"
        text="Rachas!"
        descrip="Mantén el seguimiento de tus habitos con la webApp Rachas!"
        webLink="https://mrchrisfabian.github.io/FinalProject_ppy/"
    />
</div>
