---
import Proyectos from "./Proyectos.astro";
---

<div
    id="proyectos"
    class="mx-56 lg:max-w-screen-lg lg:flex lg:h-full lg:flex-wrap lg:items-center lg:justify-between lg:mx-auto lg:p-6 lg:mb-72"
>
    <Proyectos
        link="https://github.com/geroxima/ctn-now"
        alt="Imagen del logo de la Aplicación"
        src="/images/ctnnowlogo.png"
        text="CTN-NOW"
        descrip="Aplicación de apoyo para Estudiantes del Colegio Técnico Nacional."
        webLink="https://github.com/geroxima/ctn-now"
    />
    <Proyectos
        link="https://jakare.itch.io/kururu"
        alt="Imagen de la pagina web del Juego Kururu"
        src="/images/kururu.png"
        text="KURURU"
        descrip="Juego desarrollado para la JAM 'Tu Juego a Juicio Jam'"
        webLink="https://jakare.itch.io/kururu"
    />
    <Proyectos
        link="https://github.com/MrChrisFabian/MasRicos"
        alt="Imagen de la pagina web Mas Ricos"
        src="/images/+r.png"
        text="Más Ricos"
        descrip="WebPage de práctica para tienda de alimentos"
        webLink="https://masricos.netlify.app/"
    />
    <Proyectos
        link="https://github.com/MrChrisFabian/FinalProject_ppy"
        alt="Imagen de la webapp Rachas!"
        src="/images/rachas!.png"
        text="Rachas!"
        descrip="Mantén el seguimiento de tus habitos con la webApp Rachas!"
        webLink="https://mrchrisfabian.github.io/FinalProject_ppy/"
    />
</div>
